p {
    color: darkslategrey;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size:large;
}

body, .flex-container{
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
}

