<p *ngIf="id===1">User 1 : Everybody should read Chaucer to improve their everyday vocabulary.</p>

<p *ngIf="id===2">User 2 : The sudden rainstorm washed crocodiles into the ocean.</p>

<p *ngIf="id===3">User 3 : Dan took the deep dive down the rabbit hole.</p>


<p *ngIf="id===4">User 4 : He found the end of the rainbow and was surprised at what he found there.</p>

<p *ngIf="id===5">User 5 : After exploring the abandoned building, he started to believe in ghosts.</p>


<p *ngIf="id===6">User 6 : He fumbled in the darkness looking for the light switch, but when he finally found it there was someone already there.</p>

<p *ngIf="id===7">User 7 : The random sentence generator generated a random sentence about a random sentence.</p>


