<body>
    <h1>Data List is Here!</h1>
    <div class = "flex-container">
        <div class = "left-flex-container">
            <div>ID:</div>
            <div>Phone Number:</div>
            <div>Full Name: </div>
            <div>Nickname:</div>
            <div>Gender: </div>
            <div>IsActive:</div>
            <div>Last Login Date: </div>
            <div>Registered Date: </div>
        </div>

        <div class = "right-flex-container">
            <div>{{ data_id }}</div>
            <div>{{ data_phoneNumber }}</div>
            <div>{{ data_fullName }}</div>
            <div>{{ data_nickname }}</div>
            <div>{{ data_gender }}</div>
            <div>{{ data_isActive }}</div>
            <div>{{ data_lastLoginDate }}</div>
            <div>{{data_registeredDate }}</div>
        </div>
    </div>
    <br>
    <div>
        <button mat-raised-button [routerLink] = "['/index']">Main Login Page</button>
        <button mat-raised-button [routerLink] = "['/main']">Next Page</button>
    </div>
    <br>
    
</body> 

