
<body>
    <h1>Hi, Welcome back!</h1>
    <div class="flex-container">
        <form #postForm="ngForm" (ngSubmit)="onLogin(postForm.value)">
        <div>
            <mat-list>
                <mat-list-item>username:<input type="string" name="username" required ngModel></mat-list-item>
                <mat-list-item>password:<input type="string" name="password" required ngModel></mat-list-item>
                
            </mat-list>
        </div>
        

        <div><button mat-raised-button type="submit">POST</button></div>
        <br>
        <div><button mat-raised-button (click)="onGetData()">GET</button></div>
        </form>        
    </div>
    
    
</body>