
<body>
    <h1>Hi, Welcome back!</h1>
    <div class="big-flex-container">
        <div class="flex-container">
            <form #postForm="ngForm" (ngSubmit)="onLogin(postForm.value)">
            <div class = "flex-container">
                <div class = "left-flex-container">
                    <div><span>Username: </span></div>
                    <br>
                    <div><span>Password: </span></div>
                </div>

                <div class = "right-flex-container">
                    <div><input type="string" name="username" required ngModel></div>
                    <br>
                    <div><input type="password" name="password" required ngModel></div>

                </div>
            </div>
            <br>
            <div><button mat-raised-button type="submit">Login</button></div>
            </form>        
        </div>
        <br>
        <div *ngIf = "showFormError"><p>{{ error }}</p></div>


    </div>
</body>